# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled resources
compiled

# Ignore benchmark files
benchmark
*.tex

# Ignore Emacs files
.projectile
\#*\#

# Ignore Buildship files
.settings
.classpath
.project
bin/

# Ignore idea files
.idea

# Ignore testing files
.lit*
*.java.bpl
Output