# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled resources
compiled

# Ignore Emacs files
.projectile
\#*\#

# Ignore Buildship files
.settings
.classpath
.project
bin/